#map {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
}
.top-borad {
  position: fixed;
  background-color: black;
  height: 5vh;
  min-height: 20px;
  width: 100vw;
  top: 0;
  left: 0;
  right: 0;
}
.map-control-button {
  top: 0;
  bottom: 0;
  color: white;
  background-color: white;
}
